<h1>Your order summary</h1>

<!--W ten sposob mozna do partiala przekazywac info ktore potem mozna np ifowac-->
{{> addons noDeleteBtn=true}}

<a href="/order/thanks" class="btn btn-big">Finish my order</a>

{{> cookie-preview}}
{{> go-home}}
